@model MovieApp.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <div class="card-group">
        <div class="card border-light mb-3" style="max-width: 560px;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="../../@Html.DisplayFor(model => model.Image)" class="figure-img img-fluid" style="height:100%; width:100%">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title border-bottom text-center">@Html.DisplayFor(model => model.Title)</h5>
                        <div class="card-text">
                            <dl class="row">
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.Director)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.Director)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.ReleaseDate)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.ReleaseDate)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.Genre)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.Genre)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.Imdb)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.Imdb)
                                </dd>
                                <dt class="col-sm-5">
                                    @Html.DisplayNameFor(model => model.Rating)
                                </dt>
                                <dd class="col-sm-5">
                                    @Html.DisplayFor(model => model.Rating)
                                </dd>
                            </dl>
                            <div class="border-top text-center">@Html.DisplayFor(model => model.Description)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-light" style="max-width: 560px;">
            <iframe style="width:100%; height:100%" src="@Html.DisplayFor(model => model.Trailer)" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>