@model MovieApp.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Movie List";
}

<h1>Movie List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Movies" asp-action="Index" method="get" class="row ms-auto">
    <div class="col-auto">
        <select class="form-select" asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-4">
        <input type="search" class="form-control" placeholder="Title" asp-for="SearchString" />
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr class="text-center align-middle">
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Imdb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies!) {
            <tr class="text-center align-middle">
            <td class="col-3">
                <figure class="figure">
                    <img src="@Html.DisplayFor(modelItem => item.Image)" class="figure-img img-fluid">
                </figure>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imdb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
